/*FONTS*/

	@font-face {
		font-family: archivo;
		src: url(fonts/Archivo-Medium.ttf);
	}

/*FONTS*/


/*PAGINA'S*/

	.home {
	margin: 0px auto;
	font-family: archivo;
	width: 1000px;
	display: grid;
	grid-template-columns: 200px 200px 200px 200px 200px;
	grid-template-rows: 45px 75px 100px 100px 100px 100px
						100px 100px 100px 100px;}

/*PAGINA'S*/



/*LOGO*/

	.logodiv {
		margin: 20px 0px 0px 60px;
		width: 262px;
		height: 25px;
	}

/*LOGO*/



/*NAVBAR*/

	.navbardiv {
		width: 950px;
		position: relative;
		background-color: #222931;
		grid-area: 2/1/3/6;
		margin: auto auto;
		height: 50px;
	}

	.navbardiv ul {
		margin: 0px;
	}

	.navbardiv li {
		display: inline;		
	}

	.navbardiv button {
		position: relative;
		color: white;
		border: none;
		outline: none;
		background-color: #222931;
		font-size: 12px;
		margin: 0px 0px 0px 0px;
		height: 50px;
		padding: 0px 20px 0px 20px;
		transition: .2s;
	}

	.navbardiv button:hover {
		background-color: #ffe718;
		color: black;
		font-weight: bolder;
		cursor: pointer;
	}


	.fa-angle-down {
		padding: 0 5px;
	}



	/*SUBMENU*/

		.submenudiv {
			display: block;
			width: 200px;
			height: 100px;
			position: relative;
			left: 120px; 
		}

		.submenudiv ul {
			position: relative;
			padding: 0px;
			background-color: #222931;	
			color: white;
			line-height: 30px;
		}

		.submenudiv li {
			transition: .2s;
		}

		.submenudiv li:hover {
			background-color: #ffe718;
			cursor: pointer;
			color: black;
			font-weight: bold;
		}

		.geschiedenisli {
			padding: 6px 91px 3px 10px;
		}

		.deali {
			padding: 6px 149px 3px 10px;
		}

		.dienstli {
			padding: 6px 126px 3px 10px;
		}

	/*SUBMENU*/

/*NAVBAR*/